#Links{ position: absolute; left: 0px; height:100%; width: 100px; z-index: 10000; }

#leftBar
{
	width: 175px;
	height: 100%;
	background-image: url(../images/karbon_bg.png);
	border: solid 2px #fff;
	border-left: none;
	border-radius: 0px 10px 0px 0px;
	padding-top: 5px;
	font-size: 10px;
	font-weight: bold;
}

#button_Links
{
    position:absolute;
    width: 30px;
    height: 150px;
    left: 175px;
    top: 50%;
    margin-top: -75px;
    z-index: 100000;
    background-image: url(../images/primitiv.png);
}


#primitiveList
{
    float:left;
    width: 140px;
    height: 30px;
    margin: 5px 2px;
}

#treeview
{
    overflow: hidden; 
    overflow-y: auto; 
    padding: 0px; 
    margin-left: -10px;
    margin-top: 5px;
}


#accordion_left
{
    width: 97%;
    height: 80%;
}

#accordion_left h3
{
    font-size: 14px;
}


#accordion_left .ui-accordion-content
{
    padding: 5% 5% 10px 15px;
    background: #191415;
    color: #FFFFFF;
    margin: 0px;
    height: 100%;
}

#x3dom-state-viewer {
    display: block;
    background-color: #323232;
    color: #C8C8C8;
    cursor: help;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0 0 2px;
    opacity: 1;
    padding: 5px;
    position: absolute;
    left: 180px;
    text-transform: uppercase;
    border: #000 1px solid;
    top: 0px;
    width: 170px;
    z-index: 1001;
    text-shadow: 0 !important;
    -webkit-box-shadow: 0px 1px 55px rgba(0, 0, 0, 0.7); /* webkit browser*/
    -moz-box-shadow: 0px 1px 55px rgba(0, 0, 0, 0.7); /* firefox */
    box-shadow: 0px 1px 55px rgba(0, 0, 0, 0.7);
}