body
{
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	overflow: hidden;
}


#x3d-view
{
	z-index: 0;
	float:left;
	margin: 0px;
	padding: 0px;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	height: 100%;
	width: 100%;
	
	background-image: linear-gradient(bottom, rgb(0,0,0) 0%, rgb(71,71,71) 72%, rgb(71,71,71) 100%, rgb(148,148,148) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(71,71,71) 72%, rgb(71,71,71) 100%, rgb(148,148,148) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(71,71,71) 72%, rgb(71,71,71) 100%, rgb(148,148,148) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(71,71,71) 72%, rgb(71,71,71) 100%, rgb(148,148,148) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(71,71,71) 72%, rgb(71,71,71) 100%, rgb(148,148,148) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(0,0,0)),
		color-stop(0.72, rgb(71,71,71)),
		color-stop(1, rgb(71,71,71)),
		color-stop(1, rgb(148,148,148))
	);

	position:absolute;
}


#x3d
{
    z-index: 10;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;	
}


#button_Links
{
	background-image: linear-gradient(right , rgb(17,17,17) 95%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(right , rgb(17,17,17) 95%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(right , rgb(17,17,17) 95%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(right , rgb(17,17,17) 95%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(right , rgb(17,17,17) 95%, rgb(255,255,255) 100%);
	
	background-image: -webkit-gradient(
		linear,
		right top,
		left top,
		color-stop(0.95, rgb(17,17,17)),
		color-stop(1, rgb(255,255,255))
	);
}


#button_Rechts
{
	background-image: linear-gradient(left , rgb(17,17,17) 95%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(left , rgb(17,17,17) 95%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(left , rgb(17,17,17) 95%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(left , rgb(17,17,17) 95%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(left , rgb(17,17,17) 95%, rgb(255,255,255) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0.95, rgb(17,17,17)),
		color-stop(1, rgb(255,255,255))
	);
}


#Oben
{
	background-image: linear-gradient(bottom, rgb(17,17,17) 95%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(17,17,17) 95%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(17,17,17) 95%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(17,17,17) 95%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(17,17,17) 95%, rgb(255,255,255) 100%);
	
	background-image: -webkit-gradient(
		linear,
		right bottom,
		right top,
		color-stop(0.95, rgb(17,17,17)),
		color-stop(1, rgb(255,255,255))
	);
}


#Unten
{
	background-image: linear-gradient(top, rgb(17,17,17) 95%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(top, rgb(17,17,17) 95%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(top, rgb(17,17,17) 95%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(top, rgb(17,17,17) 95%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(top, rgb(17,17,17) 95%, rgb(255,255,255) 100%);
	
	background-image: -webkit-gradient(
		linear,
		right top,
		right bottom,
		color-stop(0.95, rgb(17,17,17)),
		color-stop(1, rgb(255,255,255))
	);
}


#accordeon-oben .ui-accordion-content
{
	padding: 5%;
}


#loeschen
{
	margin-left: 2px;
	
	z-index: 200;    			
    min-width: 24.2%;
    max-width: 24.2%;
    min-height: 100%;
    max-height: 100%;
    position:absolute;
}


#axis
{
	visibility: visible;
}
