#accordeon-oben .ui-accordion-content
{
    padding: 5%;
    background: #191415;
    color: #FFFFFF;
    margin: 0px;
    margin-bottom: 10px;
}


/*** Linker Slider **********************************************************************************/

#linksSlider .ui-slider-range { background: #000000; }

/****************************************************************************************************/
