#verschieben, #skalieren, #drehen
{
	border:2px solid #102941;
	margin-top: 10px;
}

/* Textfelder wo die Zahlen kommen */
.amount
{
	height: 10px;
	width: 40px;
	margin-left: 5px;
	color: #052F57;
	font-weight: bold;
}

.slider1, .slider2, .slider3, .slider4, .slider5
{
	margin-top: 10px;
	margin-left: 10%;
	width: 80%;
}

.text-slider
{
	margin: 5px;
}

#z-sliderV,  #sliderS, #z-sliderD
{
	margin-bottom: 20px;
}
