@charset "utf-8";
/* CSS Document */

#Overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: rgba(90, 90, 90, 0.75);
	display: none;
}

#Editor-Container {
	width: 632px;
	height: 432px;
	position: relative;
	top: 50%;
	left: 50%;
	padding: 0;
	margin: -215px 0px 0px -315px;
	background-color: rgb(60, 60, 60);
	border-radius: 15px;
	boxShadow: 5px 5px 5px #333;
}

#Editor2D {
	margin: 15px 0px 0px 15px;
	padding: 0;
	border: 2px solid #CCC;
	border-radius: 10px;
	cursor: crosshair;
	zIndex: 10000;
}